<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <h1>This is your Notes :))</h1>

</nav>
<a type="button" class="btn btn-outline-danger" th:href="@{/addpage}"> Add note bruh </a>
<div class="container">
    <div class="row" th:switch="${listofnote}">
        <h2 th:case="null">No Note yet!</h2>
        <div th:case="*" class="col-12" >
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Your Note</th>
                    <th>Create At</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notes : ${listofnote}">
                    <td th:text="${notes.name}"></td>
                    <td th:text="${notes.note}"></td>
                    <td th:text="${notes.time_created}"></td>
                    <td>

                        <a type="button" th:href="@{/updatepage/{id}(id=${notes.id})}"  class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-danger" th:href="@{/delete/{id}(id=${notes.id})}"> Delete </a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>