<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Update Note</h2>
<form action="#" th:action="@{/update}" th:object="${newNote}" method="post">

     <input type="hidden" th:field="*{id}"></br>
    <div class="form-group">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name"></br>
    </div>
    <div class="form-group">
    <label for="name">Your note</label>
    <input type="text" th:field="*{note}"  placeholder="Name"></br>
    </div>
    <input type="submit" value="Update Note">
</form>
</div>
</body>
</html>